<app-navigation-bar-clients></app-navigation-bar-clients>

<!-- en el contenedor dashboard se introducirán todas las visas que se relacionan con el inventario. 
        es dinamico y cambiará su contenido segun la vista -->
        <div class="container" id="dashboard">
            <!-- boton de crear registros -->
            <button class="btn btn-success mt-2" type="button" data-bs-toggle="modal"
                data-bs-target="#modal_create_client"><i class="bi bi-plus-circle"></i> Añadir cliente</button>
    
            <!--barra de busqueda de registros-->
            <div class="row mt-4 justify-content-center mb-2">
                
                <!-- busquedad por otros parametros -->
                <div class="col-12 col-md-5 d-flex mb-2">
                    <input class="form-control" type="text" id="search" placeholder="Nombre, Barrio, Apellido">
                    <button class="btn btn-success mx-2" type="submit"><i class="bi bi-search"></i></button>
                </div>
            </div>
    
            <!-- clients container -->
            <h1 class="mb-3 text-center">Clientes</h1>
            <!-- barra separadora -->
            <div style="height: 0.5rem;background-color:rgb(173, 173, 173);"></div>
            <!-- clients -->
            <div class="scrollable" style="height: 400px; overflow-y: scroll;">
                <div id="clients">
                    <table class="table table-dark table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Cc</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Apellido</th>
                                <th scope="col">Barrio</th>
                                <th scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1241312</th>
                                <td>Luis</td>
                                <td>Mogollon</td>
                                <td>Los caracoles</td>
                                <td>
                                    <a type="button" href="./client_details.html"><i class="bi bi-eye"></i></a>
                                    <a type="button" data-bs-toggle="modal" data-bs-target="#modal_For_validate_delete"><i class="bi bi-trash"></i></a>
                                    <a type="button" data-bs-toggle="modal" data-bs-target="#modal_modify_client"><i class="bi bi-pencil"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">1241312</th>
                                <td>Luis</td>
                                <td>Mogollon</td>
                                <td>Los caracoles</td>
                                <td>
                                    <a type="button" href="./client_details.html"><i class="bi bi-eye"></i></a>
                                    <a type="button" data-bs-toggle="modal" data-bs-target="#modal_For_validate_delete"><i class="bi bi-trash"></i></a>
                                    <a type="button" data-bs-toggle="modal" data-bs-target="#modal_modify_client"><i class="bi bi-pencil"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">1241312</th>
                                <td>Luis</td>
                                <td>Mogollon</td>
                                <td>Los caracoles</td>
                                <td>
                                    <a type="button" href="./client_details.html"><i class="bi bi-eye"></i></a>
                                    <a type="button" data-bs-toggle="modal" data-bs-target="#modal_For_validate_delete"><i class="bi bi-trash"></i></a>
                                    <a type="button" data-bs-toggle="modal" data-bs-target="#modal_modify_client"><i class="bi bi-pencil"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
    
                </div>
            </div>
    
        </div>
        <!-- ventana modal para validación de eliminar un registro -->
        <div class="modal fade" id="modal_For_validate_delete" data-bs-backdrop="static">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">ventana de validación</h4>
                            <!-- button for close modal windows -->
                            <button class="btn btn-close" data-bs-dismiss="modal" aria-label="close"></button>
                    </div>
    
                    <div class="modal-body">
                        <p>Estas seguro que quieres realizar esta acción</p>
                    </div>
    
                    <div class="modal-footer">
                        <button class="btn btn-primary">Aceptar</button>
                        <button class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>