<!-- 
    this is a table to check all the finished appointments 
    or clients that has been already served
    so i can charge then for the given service 
-->


<h3 class="mt-4 text-center">Finalizados</h3>
<div class="row justify-content-center">

    <!-- rapid search bar -->
    <div class="col-12 col-md-5 d-flex mb-2 px-2">
        <input class="form-control" type="text" id="search" placeholder="Nombre, Barrio, Apellido">
        <button class="btn btn-success mx-2" type="submit"><i class="bi bi-search"></i></button>
    </div>
</div>

<div class="row">
    <!-- services appointment card -->
    <div class="col-12 col-md-4 col-lg-3 p-2">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <p class="card-text">
                            Nombre: Madeleine
                        </p>
                        <p class="card-text">
                            Apellido: Mogollon
                        </p>
                        <p class="card-text">
                            Barrio: Los caracoles
                        </p>
                    </div>
                    <div class="col">
                        <p class="card-text">
                            Fecha: 26 Abril 2024
                        </p>
                        <p class="card-text">
                            Hora: 4:50pm
                        </p>
                        <p class="card-text">
                            Dia: Martes
                        </p>

                    </div>
                    <div class="col-12 text-center">
                        <div class="mb-3">
                            <h4 class="card-title">Acciones</h4>
                            <a class="btn btn-info mb-2" routerLink="1/details">Detalles
                            </a>
                            <a class="btn btn-info mb-2" routerLink="1/create-invoice">facturar
                            </a>
                        </div>
                        <div class="mb-3">
                            <p class="card-text">Estado</p>
                            <h4 class="card-title">Completado</h4>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>