<!-- clients module navigation bar -->

<nav class="navbar navbar-expand-md bg-dark sticky-top" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"></a>
        <!--persona online en sesión -->
        <div>
            <i class="bi bi-person-circle" style="color: white; font-size: 2rem;"></i>
            <a class="navbar-brand" href="#">Jhonatan Martinez</a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav align-items-end">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="clients">Clientes
                    </a>
                </li>
               
            
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/">Log out
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>