<app-back-button></app-back-button>
<!-- informacion del cliente-->
<div class="row  mb-2 border">
    <h3 class="text-center">Detalles del cliente</h3>
    <!-- foto del cliente -->
    <div class="col-md-4 mb-3">
        <img style="max-width: 13rem; height: auto;" src="" alt="client_profile_foto">
    </div>
    <div class="col-md-8 mb-3">
        <!-- información basica del cliente -->
        <div class="col-12 col-md-9 px-2 mb-3">
            <div class="row">
                <div class="mb-3">
                    id: {{client?.id}}
                </div>
                <div class="mb-1">
                    <p>
                        Nombre: {{client?.first_name}} {{client?.secund_name}} {{client?.first_lastname}} {{client?.secund_lastname}}
                    </p>
                </div>
                <div class="mb-3">
                    Telefono: {{client?.phone}}
                </div>
                <div class="mb-3">
                    Dirección: {{client?.address}}
                </div>
                <div class="mb-3">
                    Barrio: {{client?.neighborhood?.name}}
                </div>
                <div class="mb-3">
                    Fecha proximo mantenimiento: {{client?.last_meet}}
                </div>
                <div class="mb-3">
                    <button class="btn btn-danger m-1" (click)="deleteClient(client!.id)">
                        <i class="bi bi-trash"></i>
                    </button>
                    <button class="btn btn-warning m-1" (click)="modifyClient(client!.id)">
                        <i class=" bi bi-pencil"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- lista de productos y servicios -->
<div class="row justify-content-center">
    <!-- lista de productos adquiridos por el cliente -->
    <div class="col-12 col-md-5 border innerMargin">
        <h3 class="mt-4">Lista de productos adquiridos</h3>
        <div class="scrollable" style="height:300px; overflow-y: scroll;">

            <div *ngIf="clientHasProducts; else noProducts">
                <p>productos comprados</p>
            </div>

            <ng-template #noProducts>
                <div class=" d-flex justify-content-center align-items-center my-4">
                    <p class="py-5">No ha comprado productos al momento</p>
                </div>
            </ng-template>


        </div>
    </div>

    <div class=" col-12 col-md-5 border innerMargin">
        <!-- lista de servicios adquiridos por el cliente -->
        <h3 class="mt-4">Lista de servicios adquiridos</h3>
        <!-- scrollable container for the services the client has been charge for -->
        <div style="height:300px; overflow-y: scroll;">

            <!-- shows a view if there exists services bought for the client -->
            <div *ngIf="clientHasServices; else noServices">

                <div *ngFor="let service of client?.purchased_services" class="mb-3 d-flex">
                    <p>{{service?.service_id}}</p>
                    <p>{{service?.date}}</p>
                    <p>{{service?.description}}</p>
                    <p>{{service?.estimate_value}}</p>

                </div>

            </div> <!---- end of the if condicional statement -->

            <ng-template #noServices><!-- start of default themplate for the if statement-->
                <div class="d-flex justify-content-center align-items-center my-4">
                    <p class="py-5">This Client has not requests any service untill the moment</p>

                </div>
            </ng-template>
            <!-- End of default themplate for the if statement-->
        </div>

    </div>