<div class="scrollable" style="height: 380px; overflow-y: scroll;">

    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th scope="col">Cc</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Barrio</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let client of clients">
            <!-- ==================  Here go the clients  ============-->

                <th scope="row">{{client?.id}}</th>
                <td>{{client?.first_name}}</td>
                <td>{{client?.first_lastname}}</td>
                <td>{{client?.neighborhood?.name }}</td>
                <td>
                    <!-- client details boton -->
                    <!-- pass the id of the client in to the route -->
                    <a class="btn btn-info m-1" routerLink="{{client?.id}}/details"><i class="bi bi-eye"></i></a>
                    <!--<a type="button" data-bs-toggle="modal" data-bs-target="#clientModal"><i class="bi bi-trash"></i></a>
                   --> 
                   <button class="btn btn-danger m-1" (click)="deleteClient(client!.id)"><i class="bi bi-trash"></i></button>
                   <a class="btn btn-warning m-1"  routerLink="{{client?.id}}/modify"> <i class="bi bi-pencil"></i></a>
                </td>
            </tr>
            <!-- ==================  Here go the clients ============-->

        </tbody>
    </table>


</div>