<div class="container">
    <div class="row">
        <div class="col-12 mt-5 text-center">
            <h1>Pagina en desarrollo</h1>
            <p>
                Esta función esta en desarrollo
            </p>
            <p>
                Muy pronto estará disponible
            </p>
            <div class="img">
                <i class="bi bi-tools" style="font-size: 3rem;
                font-weight: bold;color: aliceblue;"></i>
            </div>
            <!-- back button component -->
            <app-back-button></app-back-button>
        </div>
    </div>
</div>
