<!-- form to create clients -->
<form [formGroup]="createClientForm" (submit) ="submitClient()" >
    <div class="row mt-2">
        <app-back-button></app-back-button>
        <div class="col-md-6 col-12">
            <div class="mb-3">
                <label class="form-label" for="client_id_card">CC</label>
                <input class="form-control" id="client_id_card" type="text" formControlName="clientIdCard">
            </div>
            <div class="mb-3">
                <label class="form-label" for="client_firstname">Primer nombre</label>
                <input class="form-control" id="client_firstname" type="text" formControlName="clientFirstName" >
            </div>
            <div class="mb-3">
                <label class="form-label" for="client_secundtname">Segundo nombre</label>
                <input class="form-control" id="client_secundtname" type="text" formControlName="clientSecundtName" >
            </div>
            <div class="mb-3">
                <label class="form-label" for="client_first_lastname">Primer apellido</label>
                <input class="form-control" id="client_first_lastname" type="text" formControlName="clientFirstLastname" >
            </div>
            <div class="mb-3">
                <label class="form-label" for="client_secund_lastname">Segundo apellido</label>
                <input class="form-control" id="client_secund_lastname" type="text" formControlName="clientSecundLastname" >

            </div>
        </div>
        <div class="col-md-6 col-12">
            <div class="mb-3">
                <label class="form-label" for="client_phone">Teléfono</label>
                <input class="form-control" id="client_phone" type="text" formControlName="clientPhone" >
            </div>
            <div class="mb-3">
                <label class="form-label" for="client_address">Dirección</label>
                <input class="form-control" id="client_address" type="text" formControlName="clientAddress" >
            </div>
            <div class="mb-3">
                <label class="form-label" for="client_neighborhood">Barrio</label>
                <select class="form-select" id="client_neighborhood" formControlName="clientNeighborhood" >
                    <option selected>---</option>
                    <option value="san fernando">San fernando</option>
                    <option value="La central">La central</option>
                    <option value="Los caracoles">Los caracoles</option>
                </select>
            </div>
            <!-- this section here is for those cases when we need to add a client 
                but its neighborhood isn't registered in the data base-->
            <div class="mb-3">
                <label class="form-label" for="client_add_neighborhood">Añadir Otro barrio</label>
                <input class="form-control" id="client_add_neighborhood" type="text">
            </div>
    
        </div>
    </div>
    <!-- this part here has the submit button and the cancel button -->
    <div class="mb-3 text-center">
        <button class="btn btn-success m-1" type="submit">Añadir</button>
        <a class="btn btn-danger m-1" routerLink="../" >Cancelar</a>
    </div>
</form>
