<app-navigation-bar-clients></app-navigation-bar-clients>

<div class="container mt-4">
    <div class="row mb-2 border">
    <h3 class="text-center" >Detalles del cliente</h3>
        <!-- foto del cliente -->
        <div class="col-12 col-md-3 mb-3">
            <img style="max-width: 13rem; height: auto;" src=""
                alt="client_profile_foto">
        </div>
        <!-- información basica del cliente -->
        <div class="col-12 col-md-9 px-2 mb-3">
            <div class="row">
                <div class="mb-3">
                    Nombre completo
                </div>
                <div class="mb-3">
                    Dirección: calle 34# 23-104
                </div>
                <div class="mb-3">
                    Barrio: los caracoles
                </div>
                <div class="mb-3">
                    Fecha proximo mantenimiento: 4 de Diciembre 2023
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <!-- lista de productos adquiridos por el cliente -->
        <div class="col-12 col-md-5 m-1 border">
            <h3 class="mt-4">Lista de productos adquiridos</h3>
            <button class="btn btn-success mb-3">Añadir producto</button>
            <div class="scrollable" style="height:300px; overflow-y: scroll;">
                <div id="product">
                    <div class="mb-3">
                        <p>P001 filtro purificador 25/julio/2023</p>
                    </div>
                    <div class="mb-3">
                        <p>P001 filtro purificador 25/julio/2023</p>
                    </div>
                    <div class="mb-3">
                        <p>P001 filtro purificador 25/julio/2023</p>
                    </div>
                    <div class="mb-3">
                        <p>P001 filtro purificador 25/julio/2023</p>
                    </div>
                    <div class="mb-3">
                        <p>P001 filtro purificador 25/julio/2023</p>
                    </div>
                    <div class="mb-3">
                        <p>P001 filtro purificador 25/julio/2023</p>
                    </div>
                    <div class="mb-3">
                        <p>P001 filtro purificador 25/julio/2023</p>
                    </div>
                    <div class="mb-3">
                        <p>P001 filtro purificador 25/julio/2023</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-5 m-1 border">
            <!-- lista de servicios adquiridos por el cliente -->
            <h3 class="mt-4">Lista de servicios adquiridos</h3>
            <button class="btn btn-success mb-3">Añadir servicio</button>
            <div class="scrollable" style="height:300px; overflow-y: scroll;">
                <div id="services">
                    <div class="mb-3">
                        <p>Servicio 25/julio/2023</p>
                    </div>
                    <div class="mb-3">
                        <p>Servicio 25/julio/2023</p>
                    </div>
                    <div class="mb-3">
                        <p>Servicio 25/julio/2023</p>
                    </div>
                    <div class="mb-3">
                        <p>Servicio 25/julio/2023</p>
                    </div>
                    <div class="mb-3">
                        <p>Servicio 25/julio/2023</p>
                    </div>
                    <div class="mb-3">
                        <p>Servicio 25/julio/2023</p>
                    </div>
                    <div class="mb-3">
                        <p>Servicio 25/julio/2023</p>
                    </div>
                    <div class="mb-3">
                        <p>Servicio 25/julio/2023</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>